# Сюда пишем то, что Гитхаб НЕ должен видеть:

# Кеш питона (компилированные файлы, они создаются сами и в облаке не нужны)
__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные сохранения и данные игрока (чтобы не перетереть чужие сейвы)
save_data.json

# Виртуальное окружение (если вдруг создашь его в этой папке)
venv/
.venv/
env/

# Системные файлы Linux/CachyOS
.DS_Store
Thumbs.db

# Настройки PyCharm / IntelliJ IDEA
.idea/
